@page "/admin/books"
@page "/admin"
@inherits OwningComponentBase<IBookProjectRepository>

@* build a table of the books in the database *@
<table class="table table-sm table-striped table-hover table-bordered">

    <thead>
        <tr>
            <th>Book Id</th>
            <th>Book Name</th>
            <th>Category</th>
        </tr>
    </thead>

    <tbody>
        @* if their are books in the database, display using this *@
        @if (BookData?.Count() > 0)
        {
            // list the books
            @foreach (Book b in BookData)
            {
                <tr>
                    <td>@b.BookId</td>
                    <td>@b.Title</td>
                    <td>@b.Category</td>

                    @* button for viewing more on the book *@
                    <td>
                        <NavLink class="btn btn-info btn-sm" href="@GetDetailsUrl(b.BookId)">Details</NavLink>
                    </td>

                    @* button for editing the book *@
                    <td>
                        <NavLink class="btn btn-warning btn-sm" href="@GetEditUrl(b.BookId)">Edit</NavLink>
                    </td>

                    @* button for deleting the book *@
                    <td>
                        <button class="btn btn-danger btn-sm" @onclick="@(x => RemoveBook(b))">Delete</button>
                    </td>
                </tr>
            }
        }
        // if no projects, display this
        else
        {
            <tr>
                <td colspan="5" class="text-center">No Projects</td>
            </tr>
        }

    </tbody>

</table>

@* button to create a new record *@
<NavLink class="btn btn-primary" href="/admin/books/create">Create</NavLink>


@code {

    // bring in the IBookProjectRepository
    public IBookProjectRepository repo => Service;

    public IEnumerable<Book> BookData { get; set; }

    // add some methods
    protected async override Task OnInitializedAsync()
    {
        await UpdateData();
    }

    public async Task UpdateData()
    {
        BookData = await repo.Books.ToListAsync();
    }

    // create paths for getting details and editing so that it takes you to that page
    // given the BookId passed
    public string GetDetailsUrl(long id) => $"/admin/books/details/{id}";
    public string GetEditUrl(long id) => $"/admin/books/edit/{id}";

    public async Task RemoveBook(Book b)
    {
        repo.DeleteBook(b);
        await UpdateData();
    }

}
