
@* dynamically build a table showing standing and completed orders *@
<table class="table table-sm table-dark table-striped table-hover table-bordered">

    <thead>
        <tr>
            <th colspan="5" class="text-center">@TableTitle</th>
        </tr>
    </thead>

    <tbody>
        @* if there are orders, follow these instructions *@
        @if (Orders?.Count() > 0)
        {
            @foreach (Purchase p in Orders)
            {
                <tr>
                    <td>@p.Name</td>
                    <td>@p.Zip</td>
                    <th>Book</th>
                    <th>Quantity</th>

                    <td>
                        <button class="btn btn-sm btn-danger" @onclick="@(x => OrderSelected.InvokeAsync(p.PurchaseId))">
                            @ButtonLabel
                        </button>
                    </td>
                </tr>


                @foreach (BasketLineItem b in p.Lines)
                {
                    <tr>
                        <td colspan="2"></td>
                        <td>@b.Book.Title</td>
                        <td>@b.Quantity</td>
                    </tr>
                 }
                    
            }
        }
        @* else do this *@
        else
        {
            <tr>
                <td colspan="5" class="text-center">No Orders</td>
            </tr>
        }

    </tbody>

</table>





@code {

    //initilaize some variables
    [Parameter]
    public string TableTitle { get; set; } = "Orders";

    [Parameter]
    public IEnumerable<Purchase> Orders { get; set; }

    [Parameter]
    public string ButtonLabel { get; set; } = "Shipped";

    [Parameter]
    public EventCallback<int> OrderSelected { get; set; }

}
